pip install beautifulsoup4
pip install pyTelegramBotAPI
pip install -U vk_api

pip install pillow


#put config.py file in 'C:\Users' directory with the next content
TOKEN = 'yourtokenfor telegram'
LOGIN, PASSWORD = 'login from vk', 'pass from vk'
